In [0]:
from google.colab import files
uploaded = files.upload()

Saving test (3).csv to test (3) (1).csv

In [0]:
import pandas as pd
test = pd.read_csv("test.csv")
test.head()

   Unnamed: 0  Unnamed: 0.1   base_sales  ...  acd  tv_brands  radio_brands
0           0             1   999.420481  ...   tv       Sony           RDL
1           1             2  1016.029389  ...   tv    TOSHIBA         Vanco
2           2             3  1020.880747  ...   tv  Panasonic         Chief
3           3             4  1020.230930  ...   tv    TOSHIBA        Belden
4           4             5  1031.258145  ...   tv  Panasonic        Atlona

[5 rows x 18 columns]

In [0]:
test["tv_Sales_only"] = test["tv_Sales_1"] - test["adstock_TV_1"]
test.head()

   Unnamed: 0  Unnamed: 0.1   base_sales  ...  tv_brands  radio_brands  tv_Sales_only
0           0             1   999.420481  ...       Sony           RDL     999.420481
1           1             2  1016.029389  ...    TOSHIBA         Vanco    1016.029389
2           2             3  1020.880747  ...  Panasonic         Chief    1020.880747
3           3             4  1020.230930  ...    TOSHIBA        Belden    1020.230930
4           4             5  1031.258145  ...  Panasonic        Atlona    1031.258145

[5 rows x 19 columns]

In [0]:
test

     Unnamed: 0  Unnamed: 0.1  ...  radio_brands  tv_Sales_only
0             0             1  ...           RDL     999.420481
1             1             2  ...         Vanco    1016.029389
2             2             3  ...         Chief    1020.880747
3             3             4  ...        Belden    1020.230930
4             4             5  ...        Atlona    1031.258145
..          ...           ...  ...           ...            ...
255         255           256  ...        Mogami    1182.811932
256         256           257  ...        Atlona    1191.700541
257         257           258  ...        Belden    1187.976081
258         258           259  ...        Mogami    1196.694782
259         259           260  ...        Atlona    1211.215776

[260 rows x 19 columns]

In [0]:
#tv_Sales_2 - tv_Sales_2_Adstock
test["tv_Sales_only2"] = test["tv_Sales_2"] - test["tv_Sales_2_Adstock"]
test

     Unnamed: 0  Unnamed: 0.1  ...  radio_brands  tv_Sales_only2
0             0             1  ...           RDL     1003.276688
1             1             2  ...         Vanco     1008.322283
2             2             3  ...         Chief     1011.757184
3             3             4  ...        Belden     1020.124702
4             4             5  ...        Atlona     1038.014845
..          ...           ...  ...           ...             ...
255         255           256  ...        Mogami     1183.794947
256         256           257  ...        Atlona     1180.486558
257         257           258  ...        Belden     1193.551833
258         258           259  ...        Mogami     1207.741175
259         259           260  ...        Atlona     1209.987728

[260 rows x 19 columns]

In [0]:
test = test.drop(columns=['tv_Sales_only','tv_Sales_only2'])
test.head()

   Unnamed: 0  Unnamed: 0.1   base_sales  ...  acd  tv_brands  radio_brands
0           0             1   999.420481  ...   tv       Sony           RDL
1           1             2  1016.029389  ...   tv    TOSHIBA         Vanco
2           2             3  1020.880747  ...   tv  Panasonic         Chief
3           3             4  1020.230930  ...   tv    TOSHIBA        Belden
4           4             5  1031.258145  ...   tv  Panasonic        Atlona

[5 rows x 18 columns]

In [0]:
test["tv_Sales_only1"] = test["tv_Sales_1"] - test["adstock_TV_1"]
test

     Unnamed: 0  Unnamed: 0.1  ...  tv_Sales_only2  tv_Sales_only1
0             0             1  ...     1003.276688      999.420481
1             1             2  ...     1008.322283     1016.029389
2             2             3  ...     1011.757184     1020.880747
3             3             4  ...     1020.124702     1020.230930
4             4             5  ...     1038.014845     1031.258145
..          ...           ...  ...             ...             ...
255         255           256  ...     1183.794947     1182.811932
256         256           257  ...     1180.486558     1191.700541
257         257           258  ...     1193.551833     1187.976081
258         258           259  ...     1207.741175     1196.694782
259         259           260  ...     1209.987728     1211.215776

[260 rows x 20 columns]

In [0]:
# test = test.drop(columns=['tv_Sales_ony2','tv_Sales_only2','tv_Sales_ony'])
# test.head()
test = test.drop(columns=['radio_spend_only'])
test.head()

   Unnamed: 0  Unnamed: 0.1  ...  tv_Sales_only1  tv_Sales_only_avg
0           0             1  ...      999.420481        1001.348584
1           1             2  ...     1016.029389        1012.175836
2           2             3  ...     1020.880747        1016.318965
3           3             4  ...     1020.230930        1020.177816
4           4             5  ...     1031.258145        1034.636495

[5 rows x 21 columns]

In [0]:
test["tv_Sales_only_avg"] = (test["tv_Sales_only2"]+test["tv_Sales_only1"])/2
test

     Unnamed: 0  Unnamed: 0.1  ...  tv_Sales_only1  tv_Sales_only_avg
0             0             1  ...      999.420481        1001.348584
1             1             2  ...     1016.029389        1012.175836
2             2             3  ...     1020.880747        1016.318965
3             3             4  ...     1020.230930        1020.177816
4             4             5  ...     1031.258145        1034.636495
..          ...           ...  ...             ...                ...
255         255           256  ...     1182.811932        1183.303440
256         256           257  ...     1191.700541        1186.093550
257         257           258  ...     1187.976081        1190.763957
258         258           259  ...     1196.694782        1202.217978
259         259           260  ...     1211.215776        1210.601752

[260 rows x 21 columns]

In [0]:
test.to_csv(r'test.csv')

In [0]:
test['sales_radio_tv_spend1'] = test['tv_Radio_Sales_1'] - test['adstock_TV_1']
test.head()

   Unnamed: 0  Unnamed: 0.1  ...  tv_Sales_only_avg  sales_radio_tv_spend1
0           0             1  ...        1001.348584            1008.322089
1           1             2  ...        1012.175836            1004.325565
2           2             3  ...        1016.318965            1019.312032
3           3             4  ...        1020.177816            1023.269288
4           4             5  ...        1034.636495            1030.450885

[5 rows x 22 columns]

In [0]:
test['sales_radio_tv_spend2'] = test['tv_Radio_Sales_2'] - test['tv_Sales_2_Adstock']
test.head()

   Unnamed: 0  Unnamed: 0.1  ...  sales_radio_tv_spend1  sales_radio_tv_spend2
0           0             1  ...            1008.322089            1007.485460
1           1             2  ...            1004.325565            1005.948293
2           2             3  ...            1019.312032            1018.708342
3           3             4  ...            1023.269288            1016.475639
4           4             5  ...            1030.450885            1021.601069

[5 rows x 23 columns]

In [0]:
test['sales_radio_tv_spendAvg'] = (test['sales_radio_tv_spend1'] + test['sales_radio_tv_spend2'])/2
test.head()

   Unnamed: 0  Unnamed: 0.1  ...  sales_radio_tv_spend2  sales_radio_tv_spendAvg
0           0             1  ...            1007.485460              1007.903775
1           1             2  ...            1005.948293              1005.136929
2           2             3  ...            1018.708342              1019.010187
3           3             4  ...            1016.475639              1019.872464
4           4             5  ...            1021.601069              1026.025977

[5 rows x 24 columns]



```
# This is formatted as code
```

# **considering according to the data that radio spending is done on top of TV ad spending hence sales after radio spending has tv ad spending into consideration**

In [0]:
test.to_csv(r'test.csv')